/* https://colorhunt.co/palette/635985443c6839305318122b */
/* #635985
#443C68
#393053
#18122B */


:root {
  /* --bgcolor : #18122B;
  --color1 : #635985;
  --color2 : #443C68;
  --color3 : #393053; */
  --bgcolor : #050505;
  --color1 : #524e4e; /*bg button*/
  --color2 : #383838; /*bg contact*/
  --color3 : #171917; /* bg chat*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  /* font-family: 'Lato', sans-serif; */
}

html {
  background-color: var(--bgcolor);
}

button, input[type="text"], input[type="password"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	/* cursor: pointer; */
	outline: inherit;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional */
  margin: 0;
}

.container {
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  height: 90vh;
  padding: 5px;
  /* background-color: rgb(0, 64, 255); */
}

/* Container Login */

.container-login {
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 50%;
  min-width: 400px;
  height: 40%;
  padding: 10px;
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box input {
  width: 80%;
  height: 20%;
  border-radius: 7px;
  background-color: var(--color2);
  margin-top: 10px;
}

.login-box button {
  width: 80%;
  margin-top: 10px;
  background-color: var(--bgcolor);
  height: 50px;
}

/* Container Chat */

.container-chat {
  width: 65%;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color3);
  font-family: 'Lato', sans-serif;
  /* height: 100%; */
}

.container-chat:has(div.chat) #no-chat {
  display: none;
}

.container-user.hidden + .container-chat {
  width: 100% !important;
}
.container:has(.container-chat.hidden) .container-user {
  width: 100% !important;
}

#no-chat {
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-size: larger;
}

.chat-contact {
  display: flex;
  /* flex-direction: column; */
  font-family: 'Inter', sans-serif;
  padding: 5px;
  column-gap: 10px;
  height: 12%;
  background-color: var(--color1);
}

#back {
  width: 45px;
  color: black;
  height: auto;
  text-align: center;
  cursor: pointer;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

#back:hover {
  background-color: var(--color1);
  color: white;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: fit-content;
  font-size: xx-large;
}

.chat-output {
  padding: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 88%;
  font-family: 'Inter', sans-serif !important;
}

.chat {
  display: flex;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 4px;
  margin-right: 4px;
  /* background-color: red; */
}

.date-chat {
  font-size: small;
  font-weight: normal;
  text-transform: capitalize;
  background-color: grey;
  color: white;
  width: fit-content;
  padding: 8px;
  border-radius: 10px;
  align-self: center;
  text-align: center;
}

.chat-text {
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  width: fit-content;
  max-width: 90%;
  background-color: var(--color2);
  padding: 5px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all
}

.chat-date {
  margin-top: 5px;
  font-size: 13px;
}

.chat .chat-date {
  text-align: right;
}

.by-user .chat-date {
  text-align: left;
}

.by-user {
  justify-content: flex-end;
}

.by-user .chat-text {
  background-color: var(--bgcolor);
  /* background-color: #202c33; */
}

.chat-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10%;
}

input {
  height: 80%;
  width: 75%;
}

button {
  height: 80%;
  width: 20%;
  border-radius: 10px;
}

/* Container User */

.container-user {
  align-self: flex-start;
  width: 30%;
  height: 100%;
  background-color: var(--color3);
  font-family: 'Lato', sans-serif;
}

#username {
  display: block;
}



.item-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: left;
  font-size: 25px;
  font-weight: bolder;
  margin: 5px;
  padding: 5px;
  /* text-transform: capitalize; */
}

.item-card > span:first-child {
  text-transform: capitalize;
}

.item-card:hover {
  background-color: var(--bgcolor);
  color: white;
  cursor: pointer;
}

.user {
  align-content: center;
  justify-content: center;
  text-align: left;
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-size: 2rem;
  background-color: var(--color1);
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-transform: capitalize;
}

.find-user {
  align-content: center;
  justify-content: center;
  text-align: left;
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color: var(--color1);
  color: white;
  font-size: medium;
  cursor: pointer;
}

.checkout-items {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.status {
  font-size: 15px;
  font-weight: 200;
}

.last-chat {
  font-size: 15px;
  font-weight: 200;
}

#text {
  background-color: var(--color2);
  font-size: large;
  padding: 2px;
  font-weight: lighter;
  border-radius: 10px;
  /* margin: 10px 0; */
}

#send {
  background-color: var(--bgcolor);
  font-size: medium;
}

.online {
  /* background-color: green; */
  color: green;
  font-weight: bold;
}

.selected {
  background-color: var(--bgcolor);
  color: white;
}

.hidden {
  display: none;
}

.border {
  /* border: solid white 1px; */
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
